@page "/dashboard"
@inject ITicketService TicketService
<PageTitle>Dashboard</PageTitle>
<h1>Support Ticket Dashboard</h1>

@if (tickets.Count == 0)
{
    <p>No tickets have been submitted yet.</p>
}
else
{
    <div>
        <strong>Total Tickets: @tickets.Count</strong>
    </div>
    @foreach (var ticket in tickets)
    {
        <TicketCard Ticket="ticket" />
    }
}


@code
{
    private List<Ticket> tickets = new();

    protected override void OnInitialized()
    {
        tickets = TicketService.GetAllTickets();
    }
}
