@page "/"
<PageTitle>Help Desk</PageTitle>
<h1>Welcome to the IT Help Desk</h1>
<p>Use the links below to navigate:</p>
<ul>
    <li><a href="/submit">Submit a Ticket</a></li>
    <li><a href="/dashboard">View Dashboard</a></li>
</ul>

@code
{

}
